<main>
  <ul class="main-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/list/oceans">Oceans</a></li>
    <li><a href="/list/animals">Animals</a></li>
    <li><a href="/list/environment">Environment</a></li>
    <li><a href="/series/africa-forests-finance">Africa forests finance</a></li>
  </ul>
  <slot />
</main>
